{% extends 'base.html' %}
{% block title %}Home{% endblock title %}
{% block content %}




  <!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Todo</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="card">
      <div class="modal-body">
        <div class="card-body">

            <form action="{{ url_for('home') }}" method="POST">
                <div class="mb-3">
                  <label for="title" class="card-title">Todo Title</label>
                  <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                  <label for="description" class="card-title">Todo Description</label>
                  <input type="text" class="form-control" name="description" id="description">
                </div>
              <button type="submit" class="btn btn-primary">Save</button>
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>


  <!-- <div class="container my-3">
      <h2>Add A Todo</h2>
      <form action="/" method="POST">
        <div class="mb-3">
          <label for="title" class="form-label">Todo Title</label>
          <input type="text" class="form-control" name="title" id="title" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Todo Description</label>
          <input type="text" class="form-control" name="description" id="description">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
  </div> -->

  <!-- <div class="container my-3">

    <div class="alert alert-danger" role="alert">
      <h2>No record</h2>
    </div>

    <h2 class="card-header mx-auto">MyTodos</h2><br>
    {% for todo in allTodo %}
    <div class="card mx-auto" style="width: 50rem;">

    <table class="table">
      <thead class='card-header mx-auto'>
        <tr>
          <th scope="col">SNo</th>
          <th scope="col">title</th>
          <th scope="col">description</th>
          <th scope="col">Time</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>

        <tr class="table-primary">
          <th scope="row">{{loop.index}}</th>
          <td>{{todo.title}}</td>
          <td>{{todo.description}}</td>
          <td>{{todo.date_created}}</td>
          <td>

            <button>
              <a href="{{ url_for('update', sno=todo.sno) }}" ><i class='fas fa-edit'></i></a>
            </button>
            <button>
              <a href="{{ url_for('delete', sno=todo.sno) }}"><i class="bi bi-trash"></i></a>
            </button>
            <a href="{{ url_for('view', sno=todo.sno)   }}" type="button" class="btn btn-primary btn-sm mx-2">View</a>
          </td>
        </tr>
      </tbody>
    </table>
        </div><br>
        {% endfor %} -->

        <br><br>
        <div class="card bg-primary mb-3 mx-auto" style="width: 20rem;">

          <div class="col-md-12 text-center">
            <h1 class="card-header">TITLES</h1>
          </div>
        {% for todo in allTodo %}

        <div class="col-md-12 text-center">
          <ul class="fullclick">
            <button class="btn btn-light" data-toggle="modal" data-target="#TitleModalCenter{{todo.sno}}">

              <li>
                <h3 class="card-title" style="width:10rem; height:5rem;"> {{ todo.title }} </h3>
              </li>

            </button>
          </ul>
        </div>


          <!-- Modal -->
          <div class="modal fade" id="TitleModalCenter{{todo.sno}}" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="ModalLongTitle">Details</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <h1>Hello</h1>
                  <p>To view the details kindly click on the button</p>
                  <a href="/view/{{todo.sno}}" type="button" class="btn btn-primary btn-sm mx-2">View</a>
                  <button>
                    <a href="{{ url_for('update', sno=todo.sno) }}" ><i class='fas fa-edit'></i></a>
                  </button>
                  <button>
                    <a href="{{ url_for('delete', sno=todo.sno) }}"><i class="bi bi-trash"></i></a>
                  </button>
                </div>
              </div>
            </div>
          </div>

  {% endfor %}
  <!-- Button trigger modal -->
  <div class="card-footer">
    <div class="col-md-12 text-center">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
        +Add A Todo
      </button>
    </div>
  </div>
{% endblock content %}
